@font-face{
    font-family: Ubuntu-Bold;
    src: url(Ubuntu-Bold.ttf);
    /* Ubuntu-Bold fontovi da bi radili i offline */
}
@font-face{
    font-family: Oswald-Bold;
    src: url(Oswald-Bold.ttf);
    /* Oswald fontovi da radili i offline */
}
body{
    font: 20px Ubuntu-Bold;
    line-height: 1.8;
    padding-top: 80px;
}  /* Padding se dodaje da bi sadrzaj bio ispod navigacionog menija */
p{
    font-size: 16px;
} /* Velicina fonta za tekst*/
.margin{
    margin-bottom: 25px;
    /* Margine ispod svakog headinga */
}
.container-fluid{
    padding-top: 50px;
    padding-bottom: 70px;
    /* Dizajn za container */
}
.navbar-default{
    background-color: #20B0D4;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    border-bottom: 1px solid black;
    /* Dizajn navigacionog menija */
}
.nav.navbar-nav.navbar-right li a{
    color: white;
    font-size: 18px; 
    text-align: center;
    /* Dizajn linkova desno */
}
.nav.navbar-nav.navbar-right li a:hover{
    background-color: #555;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 30px;
    /* Dizajn linkova desno, kada se predje misom preko njih */
}
.navbar-default .navbar-brand{
    color: black;
    font-size: 36px;
    font-family: Oswald-Bold;
    font-weight: bold;
    /* Dizajn logoa websajta */
}
.navbar-default .navbar-brand:hover{
    color: black;
    /* Dizajn logoa websajta, kada se misem predje preko */
}
#kuca{
    color: white;
    font-size: 18px;
}   /* Dizajn kucice u navigacionom meniju*/
#kuca:hover{
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}   /* Dizajn kucice u navigacionom meniju, kada se misom predje preko */
.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
} /* Crn hamburger meni */
.navbar-default .navbar-brand{
    color: black;
} /* Logo crne boje */
.jumbotron{
    box-shadow: 3px 3px gray;
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
    margin: 0;
}/* Dizajn jumbotrona linearnim gradijentom */

.jumbotron img{
    height: 240px; 
    margin: auto; 
    width: 290px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
} /* Dizajn jumbotronove slike*/
.jumbotron img:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
} /* Dizajn jumbotronove slike, kada se misem predje preko*/
.jumbotron .glyphicon{
    font-size: 60px;
    color: black;
    cursor: pointer;
} /* Dizajn strelice nadole u jumbotronu*/
.jumbotron .glyphicon:hover{
    -webkit-animation: puls 1s ease-out;
            animation: puls 1s ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; 
} /* Dizajn strelice nadole u jumbotronu, kada se misom predje preko*/
@-webkit-keyframes puls {
    0% {-webkit-transform: scale(0.6, 0.6);transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2);transform: scale(1.2, 1.2); opacity: 0.0;}
} /* Prefiks gugl - automatski generisano*/
@keyframes puls {
    0% {-webkit-transform: scale(0.6, 0.6);transform: scale(0.6, 0.6); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2);transform: scale(1.2, 1.2); opacity: 0.0;}
} /* Izrada animacije za strelicu nadole */
.container-fluid .krug{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    background: -webkit-linear-gradient(bottom, #20B0D4 50%, white 50%);
    background: linear-gradient(360deg, #20B0D4 50%, white 50%);
    margin: auto;
    line-height: 100px;
} /* Dizajn krugova*/
.body-content{
    background: -webkit-linear-gradient(123deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
    background: -webkit-linear-gradient(327deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
    background: linear-gradient(123deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
} /*  Podesavanje pozadine body-contenta */
.container-fluid .row:nth-child(1) .col-sm-4:nth-last-child(-n+3), .container-fluid .row:nth-child(2) .col-sm-4:nth-last-child(-n+3), .container-fluid .row:nth-child(3) .col-sm-4:nth-last-child(-n+3){
    opacity: 0.2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
} /* Krugovi imaju malu prozornost */
.container-fluid .row:nth-child(1) .col-sm-4:nth-last-child(-n+3):hover, .container-fluid .row:nth-child(2) .col-sm-4:nth-last-child(-n+3):hover, .container-fluid .row:nth-child(3) .col-sm-4:nth-last-child(-n+3):hover {
    opacity: 1;
} /*  Krugovi dobijaju "cist izgled"*/
.klasaRotiranje{
    -webkit-transform: rotate(360deg);  
    transform: rotate(360deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
} /* Klasa rotiranje za JQuery*/
footer{
    background-color: dimgray;
    border-top: 2px solid gray;
} /*  Stilizovanje futera */
.container-fluid:last-child a img{
    width: 40px;
    height: 40px;
    opacity: 0.4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
} /*  Stilizovanje social link button-a u futeru */
.container-fluid:last-child a img:hover{
    opacity: 1;
} /*  Stilizovanje futer social button-a kada se predje misom preko */
.krugoviK{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin: auto;
    display: inline-block;
    background-color: #83AF40;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
} /* Stilizovanje krugova za boje */
.body-content + .body-content {
    background: -webkit-linear-gradient(35deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
    background: linear-gradient(55deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
} /* Stilizovanje body-contenta da bi se poklopile linije */
.body-content + .body-content img#klasifikacija{
     opacity: 1; 
} /* Stilizovanje slike klasifikacija */
.body-content + .body-content #krug1K{
     background-color: #83AF40; 
     -webkit-transition: 0.5s; 
     transition: 0.5s;
} /* Stilizovanje kruga1 */
.body-content + .body-content #krug2K{
     background-color: #8A8A3C;
     -webkit-transition: 0.5s;
     transition: 0.5s;
}
.body-content + .body-content #krug3K{
     background-color: #C3642F;
     -webkit-transition: 0.5s;
     transition: 0.5s;
}
.body-content + .body-content #krug4K{
     background-color: #ED1E24;
     -webkit-transition: 0.5s;
     transition: 0.5s;
     margin-bottom: 30px;
}
.body-content + .body-content #krug1K:hover, .body-content + .body-content #krug2K:hover, .body-content + .body-content #krug3K:hover, .body-content + .body-content #krug4K:hover{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(41, 92, 161, 0.6);
} /* Stilizovanje kada se predje misom preko krugova */
.body-content + .body-content + .body-content{
     background: -webkit-linear-gradient(308deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
     background: linear-gradient(142deg, rgba(255,255,255,1) 0%, rgba(242,240,250,1) 33%, rgba(236,232,247,1) 50%, rgba(225,221,243,1) 51%, rgba(214,213,241,1) 100%);
} /* Stilizovanje treceg body-contenta */
.body-content + .body-content + .body-content img{
    widows: 200px;
    height: 200px;
    margin: auto;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
} /* Stilizovanje slika u trecem body-content-u */
.prefiks{
    visibility: hidden;
} /* Sakrivanje prefiksa */
.body-content + .body-content + .body-content img:hover{
    opacity: 1;
} /* Kada se predje preko slike opacity postaje 1 */
.body-content + .body-content + .body-content img:hover + .prefiks{
    visibility: visible;
} /* Prikazi prefiks kada se predje preko slike pretrazivaca */
#strelicaSadrzaj{
    display: none;
} /* Prikazati ovaj sadrzaj kada se klikne na strelicu */
.active{
    background-color: #555;
    border-radius: 30px;
} /* Active klasa */