@font-face {
    font-family: Ubuntu-Bold;
    src: url(../font/Ubuntu-Bold.ttf);
    /* Ubuntu-Bold fontovi da radili i offline */
}

@font-face {
    font-family: Oswald-Bold;
    src: url(../font/Oswald-Bold.ttf);
    /* Oswald fontovi da radili i offline */
}

body {
    font: 20px Ubuntu-Bold;
    line-height: 1.8;
    padding-top: 70px;
}

/* Padding se dodaje da bi sadrzaj bio ispod navigacionog menija */
p {
    font-size: 16px;
}

footer a img {
    width: 50px;
    height: 50px;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 70px;
    /* Dizajn za container */
}

.navbar-default {
    background: -webkit-linear-gradient(338deg, #20B0D4 0%, #20B0D4 33%, #20B0D4 61%, rgba(236, 232, 247, 1) 42%, rgba(236, 232, 247, 1) 100%);
    background: linear-gradient(112deg, #20B0D4 0%, #20B0D4 33%, #20B0D4 61%, rgba(236, 232, 247, 1) 42%, rgba(236, 232, 247, 1) 100%);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    border-bottom: 1px ridge black;
    /* Dizajn navigacionog menija */
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 18px;
    text-align: center;
    /* Dizajn linkova desno */
}

.nav.navbar-nav.navbar-right li a:nth-child(-n+4) {
    color: #222;
}

/* Dizajn menija za cetiri linka desno*/
.nav.navbar-nav.navbar-right li a:hover {
    background-color: #555;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 30px;
    /* Dizajn linkova desno, kada se predje misom preko njih */
}

.navbar-default .navbar-brand {
    color: black;
    font-size: 36px;
    font-family: Oswald-Bold;
    font-weight: bold;
    /* Dizajn logoa websajta */
}

.navbar-default .navbar-brand:hover {
    color: black;
    /* Dizajn logoa websajta, kada se misem predje preko */
}

#kuca {
    color: white;
    font-size: 18px;
}

/* Dizajn kucice u navigacionom meniju*/
#kuca:hover {
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* Dizajn kucice u navigacionom meniju, kada se misom predje preko */
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

/* Crn hamburger meni */
.navbar-default .navbar-brand {
    color: black;
}

/* Logo crne boje */
footer {
    background-color: dimgray;
    border-top: 2px solid gray;
}

/*  Stilizovanje futera */
.container-fluid:last-child a img {
    width: 40px;
    height: 40px;
    opacity: 0.4;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/*  Stilizovanje social link button-a u futeru */
.container-fluid:last-child a img:hover {
    opacity: 1;
}

/*  Stilizovanje futer social button-a kada se predje misom preko */
.container-fluid .row:first-child p {
    font-size: 18px;
}

/* Velicina slova za ko smo mi sadrzaj */
.container-fluid .row:first-child button {
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 5px dimgray;
    font-size: 18px;
    font-family: Ubuntu-Bold;
    color: black;
    margin-bottom: 275px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    background: -webkit-linear-gradient(338deg, rgba(236, 232, 247, 1) 0%, rgba(236, 232, 247, 1) 33%, rgba(236, 232, 247, 1) 56%, #20B0D4 43%, #20B0D4 100%);
    background: linear-gradient(112deg, rgba(236, 232, 247, 1) 0%, rgba(236, 232, 247, 1) 33%, rgba(236, 232, 247, 1) 58%, #20B0D4 48%, #20B0D4 100%);
}

/* Dizajn dugmica za prikazi tim */
.container-fluid .row:first-child button:hover {
    box-shadow: 0px 3px dimgray;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    background: -webkit-linear-gradient(338deg, #20B0D4 0%, #20B0D4 20%, #20B0D4 55%, rgba(236, 232, 247, 1) 55%, rgba(236, 232, 247, 1) 100%);
    background: linear-gradient(112deg, #20B0D4 0%, #20B0D4 20%, #20B0D4 55%, rgba(236, 232, 247, 1) 55%, rgba(236, 232, 247, 1) 100%);
}

/* Dizajn dugmica kada se predje misom preko njega */
.container-fluid .row:first-child button:focus {
    outline: none;
}

/* Vrisanje fokusa dugmeta */
.container-fluid .row:last-child img {
    margin: auto;
    width: 110px;
    height: 110px;
}

/* Dizajn slicica studenata */
.container-fluid:nth-child(-n+2) {
    background: -webkit-linear-gradient(160deg, #20B0D4 0%, #20B0D4 33%, #20B0D4 52.5%, rgba(236, 232, 247, 1) 52.5%, rgba(236, 232, 247, 1) 100%);
    background: linear-gradient(290deg, #20B0D4 0%, #20B0D4 33%, #20B0D4 52.5%, rgba(236, 232, 247, 1) 52.5%, rgba(236, 232, 247, 1) 100%);
}

/* Dizajn pozadine sadrzaja strane */
.container-fluid .row:nth-child(2) .panel {
    border: 2px ridge #231F20;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    display: none;
}

/* Dizajn panela */
.container-fluid .row:nth-child(2) .panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

/* Dodavanje box shadow-a kada se predje preko panela */
.container-fluid .row:nth-child(2) .panel-heading {
    color: #fff;
    background-color: #231F20;
    padding: 25px;
}

/* Dizajn panel-headinga */
.container-fluid .row:nth-child(2) .panel-footer {
    background-color: white;
}

/* Dizajn panel-futera */
.container-fluid .sadrzaj {
    display: inline-block;
    border: 10px solid transparent;
    padding: 15px;
    -o-border-image: url(../img/border.png) 15 round;
    border-image: url(../img/border.png) 15 round;
    height: 400px;
}

/* Dizajn sadrzaja panela */
.active {
    background-color: #555;
    border-radius: 30px;
}

/* Active klasa */
@media only screen and (max-width:480px) {
    .container-fluid .sadrzaj {
        height: 460px;
    }
}

/* Sadrzaj obuhvata ceo tekst */